/**

Brandon Grotesque Regular
font-family: brandon-grotesque, sans-serif;
font-weight: 400;
font-style: normal;

Brandon Grotesque Regular Italic
font-family: brandon-grotesque, sans-serif;
font-weight: 400;
font-style: italic;

Brandon Grotesque Bold
font-family: brandon-grotesque, sans-serif;
font-weight: 700;
font-style: normal;

Brandon Grotesque Bold Italic
font-family: brandon-grotesque, sans-serif;
font-weight: 700;
font-style: italic;

Brandon Grotesque Light
font-family: brandon-grotesque, sans-serif;
font-weight: 300;
font-style: normal;

Brandon Grotesque Light Italic
font-family: brandon-grotesque, sans-serif;
font-weight: 300;
font-style: italic;

Brandon Grotesque Medium
font-family: brandon-grotesque, sans-serif;
font-weight: 500;
font-style: normal;

Brandon Grotesque Medium Italic
font-family: brandon-grotesque, sans-serif;
font-weight: 500;
font-style: italic;

Brandon Grotesque Black
font-family: brandon-grotesque, sans-serif;
font-weight: 900;
font-style: normal;

Brandon Grotesque Black Italic
font-family: brandon-grotesque, sans-serif;
font-weight: 900;
font-style: italic;

**/

$itemGrow: 1.05;
$duration: 250ms;

$color-salmon:#F16268;
$color-blue:#00ABC8;
$color-lightblue:#69C9D9;
$color-yellow:#f6d449;
$color-gold:#FFB607;
$color-grey:#231F20;

html {
	scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family:brandon-grotesque, sans-serif;
  color:#000;
  font-size:21px;
}

.h1-wrap {
	text-align:center;
}

h1 {
	font-size: 2.19em;
    color: $color-grey;
    padding-top: 43px;
    padding-bottom: 0px;
    border-bottom: 4px solid $color-blue;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;	
}

h2 {
	font-size:1.38em;
	font-weight:700;
	border-top:4px solid $color-salmon;
	display:inline-block;
	text-transform:uppercase;
	padding:30px 0;
	color:#333;
}

h3 {
	font-size:.86em;
	font-weight:900;
	color:#333;
	border-bottom:2px solid #333;
	padding:12px 0;
	display:inline-block;
	margin-bottom:25px;
	text-transform:uppercase;
}

p {
	font-weight:400;
	margin:0  0 30px 0;
}

ul, ol {
	font-weight:400;
} 

p + ul, p + ol {
	margin-top:-30px;
}

strong {
	font-weight:500;
}

header {
	background:#000;
	padding:16px 0;
	width:100%;
	position:fixed;
	z-index:80;
	
	.logo {
		padding-bottom:19px;
	}
	
	.logo-img {
		width:360px;
		height:28px;
	}

	.nav {
		padding-bottom:2.7em;
		display:inline-block;
		min-width:690px;
	
		ul {
			list-style-type:none;
			margin:0;
			padding:0;
			position:relative;
			width:100%;
		
			li {
				display:inline-block;
				vertical-align:top;
				margin-right:50px;
		
				ul {
					position:absolute;
					z-index:99;
					padding-top:16px;
					margin:0;
					display:none;
				
					li {
						margin-right:60px;
						a {
							font-size:.86em;
							font-weight:400;
							text-transform:none;
							padding:2px 0;
							letter-spacing:0;
						}
					}
					
					li.current-menu-item a {
						border-bottom:4px solid #fff;
					}
					
					li a:hover {
						text-decoration:none;
						border-bottom:4px solid #fff;
					}
				}
			
			}
		
			li:hover {
				ul {
					display:block;
				}
			}
			
			li.current-menu-parent>a, li.current-menu-item {
				border-bottom: 4px solid $color-salmon;
			}
			li.current-menu-item#menu-item-164 {
				border-bottom:none;
			}
			li.current-menu-parent {
				.sub-menu {
					display:block;
				}
			}
			
			
		}
	
		a {
			font-weight:bold;
			font-size:.71em;
			color:#fff;
			//color:#404040;
			text-transform:uppercase;
			padding:4px 0;
			letter-spacing:.8px;
		}
	
		a:hover {
			text-decoration:none;
			border-bottom: 4px solid $color-salmon;
		}
	
		a:active {
		
		}
	}
	/** end .nav **/

	.header-tools {
		position:absolute;
		right:0;
		display:inline-block;
	}
	
	form.search {
		display:inline-block;
		
		.search-submit {
			display:none;
		}
		
		#form-wrap {
			display:none;
			width:235px;
		}
	}
	#search-icon, #settings-icon {
		width:25px;
		float:right;
	}
	#settings-icon {
		margin-left:20px;
	}

}
/** end header **/

main {
	padding-top:170px;
	background: url(img/bkg-pattern.svg) no-repeat 0 170px;
	background-position-x:center;
	background-size: 2920px;
}

.limit, .limit960, .limit1024 {
	max-width:100%;
	margin:auto;
	padding-left:20px;
	padding-right:20px;
	position:relative;
}

.limit960 {
	text-align:left;
}

.anchor-link {
	position:relative;
	top:-180px;
	visibility:hidden;
}

#accordion {
	margin-bottom:70px;
	h3 {
		display:block;
		background:url(img/icon-plus.svg) #C3E9F0 no-repeat 98% 19px;
		background-size:15px;
		border-bottom:none;
		font-size:1.05em;
		font-weight:500;
		text-transform:none;
		padding:12px 30px;
		margin-bottom:0;
		margin-top:15px;
		cursor:pointer;
	}
	h3.ui-state-active {
		background:url(img/icon-minus.svg) #C3E9F0 no-repeat 98% 26px;
		background-size:15px;
	}
	.ui-accordion-content {
		border:1px solid #C3E9F0;
		padding:35px 30px;
		p {
			font-size:.86em;
		}
	}
}

.promo-box {
	margin:45px 110px 60px;
	padding:50px 20px 20px;
	background:$color-blue;
	color:#fff;
	text-align:center;
	
	h3 {
		color:#fff;
		text-transform:none;
		padding:0;
		border-bottom:none;
		font-weight:500;
		font-size:1.05em;
	}
	p {
		font-size:.81em;
	}
	p.button a {
		border:1px solid #fff;
		color:#fff;
		font-size:.88em;
		padding:6px 25px;
		&:hover{
			color:$color-blue !important;
			background-color:#fff;
		}
	}
}

/** Homepage Styles **/

.home main {
	background: url(img/splash-masthead-bkg2.png) no-repeat;
    background-size: 2920px 1180px;
    background-position-x: center;
    
    h1 {
		font-size:1.76em;
		font-weight:700;
		margin:70px 0 30px 0;
		color:#333;	
		padding:0;
		text-transform:none;
		border-bottom:none;
	}
}

.home-icons{
	text-align:center;
	padding-top:9px;
	.icon-toolkit {
		width:103px;
		height:84px;
		margin-bottom:22px;
	}
	.learn-more {
		background:url(img/learn-more-arrow.svg) no-repeat 50% 34px;
		background-size:auto 33px;
		padding-bottom:55px;
		margin-top:36px;
	}
}

.homemap {
	background-color:#A9E4D8;
	padding:70px 0 20px 0;
}

.map-image {
	text-align:center;
}

.homespacial {
	padding-top:70px;
}

.graphs {
	text-align:center;
	padding-top:10px;
	padding-left:45px !important;
	
	.graph {
		width:60px;
		display:block;
		margin:0 auto 15px;
	}

	h4 {
		font-weight:900;
		font-size:.7em;
		text-transform:uppercase;
		border-bottom:2px solid $color-grey;
		padding:12px 0;
		color:$color-grey;
		display:inline-block;
		margin-bottom:25px;
	}
	
	.graph-caption {
		color:#E06B6C;
		font-size:1.09em;
		font-weight:500;
	}
}

.photo-left {
	margin:70px 0 100px;
	
	img {
		margin-right:50px;
	}
}

.contact {
	background:#e0ece7;
	padding:50px 0 30px 0;
	margin-top:70px;
	.limit {
		text-align:center;
	}
	
	img {
		width:86px;
		margin-bottom:25px;
	}
	
	p {
		font-size:.86em;
	}
	
	a {
		text-decoration:underline;
		color:#000;
	}
}

/** end Homepage Styles **/

.button a {
	border:1px solid $color-salmon;
	color:$color-salmon;
	font-weight:900;
	text-decoration:none;
	font-size:.71em;
	text-transform:uppercase;
	padding:6px 10px;
}

.button a:hover {
	background:$color-salmon;
	color:#fff !important;
}

.button.black a {
	border:1px solid #000;
	color:#000;
}

.button.black a:hover {
	background:#000;
	color:#fff !important;
}

.button.blue a {
	border:1px solid #69c8d8;
	color:#69c8d8;
}

.button.blue a:hover {
	background: #69c8d8;
	color:#fff !important;
}

/** Lesson Page Styles **/

.single { 
	#menu-item-25 {
		border-bottom: 4px solid $color-salmon;
		.sub-menu {
			display:block;
			#menu-item-21 a {
				border-bottom:4px solid #fff;
			}
		}
	}
	
}

.post {
	padding-top:90px;
	
	.limit {
		padding-right:180px;
	}
	
	.lesson-tools {
		color:#5E5E5E;
		img {
			height:13px;
		}
		ul {
			text-align:right;
		}
		li {
			font-size:.7em;
			text-transform:uppercase;
			list-style-type:none;
			display:inline-block;
			margin-left:15px;
			cursor:pointer;
			padding:5px;
			
			a {
				color:#5e5e5e;
			}
			&:hover {
				text-decoration:underline;
			}
		}
		i {
			height: 13px;
			width: 13px;
			display: inline-block;
			position: relative;
			top:2px;
			padding:5px 0;
			margin-right:3px;
		}
		.fave-on {
			background:url(img/icon-tools-fave-on.svg) no-repeat 0 0;
		}
		.fave-off {
			background:url(img/icon-tools-fave-off.svg) no-repeat 0 0;
		}
		.icon-share {
			background:url(img/icon-tools-share.svg) no-repeat 0 0;
		}
		.icon-review {
			background:url(img/icon-tools-review.svg) no-repeat 0 0;
		}
		
	}
		
	.theme {
		color:$color-lightblue;
		font-size:0.78em;
		font-weight:400;
		text-transform:uppercase;
		strong {
			font-weight:900;
		}
	}
	
	h1 {
		font-size:2.28em;
		font-weight:500;
		margin:50px 0 20px;
		padding:0;
		border-bottom:none;
		text-transform:none;
	}
	
	p.author {
		font-size:1em;
	}
	
	p, ul, ol {
		font-size:.86em;
		line-height:1.4;
		margin-bottom:50px;
	}
		
	.lesson-details {
		margin-bottom:80px;
		
		h3 {
			color:$color-blue;
			border-bottom:2px solid $color-blue;
		}

		.leftcol {
			padding-right:65px;
		}

		.rightcol {
			padding-left:65px;
		}
		
		.included {
			
			a {
				font-weight:400;
				text-decoration:underline;
				color:#000;
				font-size:.88em;
				strong {
					font-weight:500;
					font-size:1.125em;
				}
			}
		}
		.button a {
			padding:6px 20px;
			font-size:0.83em;
		}
	}
	
	.feedback {
		background-color:#FCE0E1;
		padding:70px 0 120px;
		
		.limit {
			padding-right:20px;
		}
		p {
			margin-bottom:30px;
			color:$color-grey;
		
			&.button a {
				font-size:.83em;
			}
			&.quote {
				font-size:1.14em;
			}
			&.credit {
			}
		}
		.col-sm-6 {
			padding-right:100px;
		}
	}
}
/** end Lesson Page Styles **/

.included {
	padding:0;
	list-style-type:none;
	li.icon-pdf {
		background:url(img/icon-pdf.svg) no-repeat 4px 0;
		padding-left:40px;
	}
	li.icon-slides {
		background:url(img/icon-slides.svg) no-repeat 0 0;
		padding-left:40px;
		margin-top:15px;
	}
}

/** Toolkit Styles **/
.toolkit-body {
	background-color:$color-grey;
	text-align:center;

	.toolkit-title {
		font-size:2.19em;
		color:#fff;
		padding-top:43px;
		padding-bottom:0px;
		border-bottom:4px solid $color-salmon;
		font-weight:700;
		text-transform:uppercase;
		display:inline-block;
	}
	
	h1 {
		text-transform:uppercase;
		display:inline-block;
		background-color:#fff;
		color:#000;
		font-size:.95em;
		font-weight:900;
		padding:9px 12px;
		margin:25px 0 50px;
		border-bottom:0;
	}
	
	h2, p {
		color:#fff;
	}
	
	.toolkit-box {
		background-color:#1C1717;
		padding:40px;
		text-align:center;
		
		h2 {
			font-size:1.38em;
			color:#fff;
			text-transform:none;
			font-weight:400;
			border-top:none;
			padding:0 0 10px 0;
		}
		img {
			width:155px;
			height:120px;
		}
		.button {
			
			a {
				display:block;
				margin:20px auto;
			}
			
			&.tk1 a{
				width:155px;
			}
			&.tk2 a{
				width:184px;
			}
			&.tk3 a{
				width:168px;
			}
			&.tk4 a{
				width:189px;
			}
		}
	}
}

p.smallp {
	font-size:.76em;
	padding:0 20px;
}

.tour {
	background:#1C1717;
	padding:45px;
	text-align:center!important;
}

.lessons-anchors{
	font-size:.66em;
	font-weight:400;
	color:#5E5E5E;
	text-align:left;
	margin:55px 0 45px;
	text-transform:uppercase;
	strong {
		font-weight:900;
		color:$color-salmon;
	}
	a {
		font-weight:300;
		color:#5E5E5E;
		&:hover{
			color:$color-salmon;
		}
	}
}

.category-container {
	text-align:left;
	margin-bottom:70px;
	position:relative;
	
	.lesson-arrow-right {
		top:290px; bottom:0; right:-28px;
		z-index:10;
	}
	.lesson-arrow-left {
		top:290px; bottom:0; left:-35px;
		display:none;
	}
	.lesson-arrow-left, .lesson-arrow-right {
		position:absolute;
		z-index:10;
		img {
			width:56px;
			height:56px;
		}
	}
	
	.lessons-container {
		display:grid;
		grid-template-columns: repeat(2,100%);
		overflow:hidden;
		scroll-behavior:smooth;
		
		section {
			width:100%;
			position:relative;
			display:grid;
			grid-template-columns: repeat(5, 220px);
			margin:20px 0;
		}
	}
}

.lesson-tile {
	width:204px;
	height:264px;
	background:url(img/lesson-tile.svg) #fff no-repeat 0 0;
	font-size:1.14em;
	font-weight:500;
	padding:75px 12px 15px 15px;
	transition: $duration all;
	cursor:pointer;
	margin:0 5px 15px;
	line-height: 1.3;
	text-align:left;
	
	&:hover {
		transform:scale(1.05);
	}
	
	&.active-tile {
		transform:scale(1.05);
		padding: 71px 8px 11px 11px;
		border:4px solid $color-gold;
	}
	
	&.cec {
		background:url(img/lesson-tile-cec.svg) #fff no-repeat 0 0;
	}
					
	a {
		color:#000;
	}
}

.drawer {
	display:none;
	color:#fff;
	border-top:1px solid $color-lightblue;
	padding:50px 0;
	margin:25px 40px;
	
	h3 {
		color:#fff;
		font-size:1.23em;
		border-bottom:0;
		text-transform:none;
		font-weight:500;
	}
	
	h4 {
		color:$color-blue;
		font-size:0.57em;
		text-transform:uppercase;
		font-weight:900;
	}
	
	p {
		font-size:.86em;
		margin-right:20px;
		display:inline-block;
	}
	p.button a {
		color:$color-gold;
		border:1px solid $color-gold;
		cursor: pointer;
	}
	p.button a:hover {
		color:#fff;
		background-color:$color-gold;
	}
	.details {
		p, li {
			color:$color-blue;
			font-size:0.76em;
		}
	}
}

#cec-row {
	//background: url(img/bkg-pattern.svg) #333 no-repeat 0 0;
	background-color:#333;
	background-position-x:center;
	background-size: 2920px;
	padding:50px 0;
	.category-container .lessons-container section .lesson-tile {
		background:url(img/lesson-tile-cec.svg) #fff no-repeat 0 0;
	}
	
	.lessons-anchors a {
		color:#aeaeae;
		&:hover {
			color:$color-salmon;
		}
	}
}

.related-lessons {
	h2{
		color:#fff;
	}
}

.using-the-toolkit {
	h2 {
		border-top:4px solid $color-yellow;
	}
	
	.curriculum {
		margin-top:90px;
		
		h2 {
			margin-bottom:45px;
		}
		.curriculum-circle {
			background:url(img/curriculum-circle.svg) no-repeat 0 0;
			height:368px;
			width:400px;
			margin:0 auto 70px;
			padding:85px 20px 20px 52px;
			position:relative;
			left:-16px;
		
			p {
				font-size:.90em;
				font-weight: 500;
				text-align:center;
				color:#000;
				line-height:1.3;
			}
		
			p.circle1 {
				margin-bottom:53px;
			}
		}
	
		.curriculum-box {
			color:#000;
			h3 {
				display:block;
				text-align:center;
				border-bottom:1px solid #000;
				height:98px;
				padding:55px 10px 10px;
				margin-bottom:0;
			}
		}
	
		.cb1 {
			margin-right:12px;
			h3 {
				background:url(img/circle-header-black.svg) no-repeat 0 0;
			}
			.button.black a {
				padding:6px 25px;
			}
		}
		.cb2 {
			margin-left:12px;
			h3 {
				background:url(img/circle-header-yellow.svg) no-repeat 0 0;
			}
			.button.black a {
				padding:6px 15px;
			}
		}
	
		.cb-body {
			padding:30px 30px 60px 30px;
			background:#F2F2F2;
			height:712px;
			position:relative;
			p, ul {
				font-size:.76em;
				color:#000;
				em {
					font-size:1.25em;
					font-weight:500;
				}
			}
			ul {
				padding-left:20px;
				li {
					margin-bottom:3px;
				}
			}
			.cec-example {
				p {
					font-size:.66em;
					font-style:italic;
					padding-top:25px;
					padding-left:20px;
				}
				
				img {
					width:162px;
				}
			}
			.button.black {
				position:absolute;
				bottom:0;
				text-align:center;
				width:390px;
				margin-bottom:60px;
				font-size:1em;
			}
		}
	
		.note-language {
			margin:70px 0 90px;
			h3 {
				color:#fff;
				border-bottom:2px solid #fff;
			}
			p {
				font-size:.86em;
				strong {
					color:$color-yellow;
					font-weight:500;
				}
			}
		}
	}
	
	.approach {
		background:#fff;
		padding-bottom:140px;
		h2, p {
			color:#000;
		}
		h2 {
			margin-top:70px;
		}
		
		.approach-icons {
			width:450px;
			margin:0 auto;
			.icon-overview-black {
				width:111px;
				height:78px;
				margin-bottom:40px;
			}
		
			.icon-toolkit-black {
				width:101px;
				height:83px;
				margin-bottom:35px;
			}
		}
	}
	
	
}

.facilitating-lessons {
	.top-resources {
		width:782px;
		margin:0 auto 80px;
		background:#1C1717;
		padding:30px 50px;
		h2 {
			font-size:1.38em;
			border-top:none;
			text-transform:none;
			margin-bottom:30px;
			padding:0;
			font-weight:400;
		}
		img {
			width:168px;
			margin-bottom:20px;
		}
		p {
			font-size:.81em;
			margin-bottom:15px;
		}
	}
	
	.faqs {
		background:#fff;
		padding:70px 0;
		
		h2 {
			border-top:4px solid #AC3EA3;
			color:#000;
		}
		
		#accordion {
			h3 {
				background:url(img/icon-plus.svg) #F5E8F4 no-repeat 98% 19px;
				background-size:15px;
				text-align:left;
			}
			h3.ui-state-active {
				background:url(img/icon-minus.svg) #F5E8F4 no-repeat 98% 26px;
				background-size:15px;
			}
			.ui-accordion-content {
				border:1px solid #F5E8F4;
				p {
					color:#000;
					text-align:left;
					font-size:1em;
					a {
						color:#ab3ea2;
					}
				}
			}
		}
	}
}

.my-toolkit {
	.top-box {
		width:782px;
		margin:0 auto 80px;
		background:#1C1717;
		padding:30px 50px;
		color:#fff;
		img {
			width: 155px;
    		height: 120px;
    	}
	}
	h2 {
		border-top:4px solid $color-blue;
	}
	.favorites-container{
		margin-bottom:80px;
		position:relative;
		color:#fff;
		display:grid;
		grid-template-columns: repeat(5, 220px);
		p {
			font-weight:500;
		}
	}
	
	.review {
		background-color:#C3E9F0;
		padding:75px 0;
		color:#000;
		h2 {
			color:#000;
		}
		p {
			color:#000;
			a {
				color:#000;
				text-decoration:underline;
			}
			&.button a {
				text-decoration:none;
			}
		}
	}
	.edit-profile {
		background-color:#ececec;
		padding:75px 0;
		color:#000;
		h2 {
			color:#000;
		}
	}
}

/** end Toolkit Styles **/

/** Resources & Partners Styles **/

.resources-partners {
	h1 {
		margin-bottom:100px;
	}
	h2 {
		border-top:4px solid $color-lightblue;
	}
	
	a {
		color:$color-blue;
	}
	#accordion {
		h3 {
			background:url(img/icon-plus.svg) #C3E9F0 no-repeat 98% 19px;
			background-size:15px;

		}
		h3.ui-state-active {
			background:url(img/icon-minus.svg) #C3E9F0 no-repeat 98% 26px;
			background-size:15px;
		}
		.ui-accordion-content {
			border:1px solid #C3E9F0;
			background-color:#fff;
		}
	}
	
	.contact {
		background:#F2F2F2;
		color:$color-salmon;
		p {
			font-size:1.14em;
			strong {
				font-weight:700;
			}
		}
		.button a {
			padding:6px 15px;
			color:$color-salmon;
		}
	}
	
	.partners {
		margin:115px 0;
	}
}

/** end Resources & Partners Styles **/

/** Form Styles **/

.wpforms-container {
	width:600px;
	margin:30px auto 50px;
}

.login-message {
	margin:40px 0 100px;
	text-align:center;
}

.wpforms-submit-container button {
	border:1px solid  #69c8d8;
	background-color: #69c8d8;
	color:#fff;
	&:hover {
		background-color:#fff;
		color:#69c8d8;
	}
}

.account {
	background-color: #231F20;
	color:#fff;
	h1 {
		color:#fff;
		font-size: 1.38em;
		font-weight: 700;
		border-top: 4px solid $color-blue;
		display: inline-block;
		text-transform: uppercase;
		padding: 30px 0;
		border-bottom:0;
		margin-top:40px;
	}
}

.message-window {
	background: #e0ece7;
    padding: 50px 0 30px 0;
    margin-top: 70px;
    .limit {
    	text-align:center;
    }
    p {
    	color:#000;
    }
    a {
    	color:#000;
    	text-decoration:underline;
    }
}
/** end Form Styles **/


footer {
	background:url(img/bkg-pattern.svg) $color-grey no-repeat 0 0;
	padding:75px 0 90px 0;
	background-size:2920px;
	background-position-x:center;
	
	.copyright {
		color:#fff;
		font-size:.6em;
		font-weight:400;
		
		img {
			width:295px;
			position:relative;
			left:-18px;
			margin-bottom:50px;
		}
		
		a {
			color:#fff;
			text-decoration:none;
		}
		
		a:hover {
			text-decoration:underline;
		}
	}
}

.center {
	text-align:center;
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

	.limit {
		max-width:1140px;
		margin:auto;
		text-align:left;
	}
	
	.limit1024 {
		max-width:1024px;
		margin:auto;
		text-align:left;
	}
	
	.limit960 {
		max-width:960px;
		margin:auto;
		text-align:left;
	}
}