/**

Brandon Grotesque Regular
font-family: brandon-grotesque, sans-serif;
font-weight: 400;
font-style: normal;

Brandon Grotesque Regular Italic
font-family: brandon-grotesque, sans-serif;
font-weight: 400;
font-style: italic;

Brandon Grotesque Bold
font-family: brandon-grotesque, sans-serif;
font-weight: 700;
font-style: normal;

Brandon Grotesque Bold Italic
font-family: brandon-grotesque, sans-serif;
font-weight: 700;
font-style: italic;

Brandon Grotesque Light
font-family: brandon-grotesque, sans-serif;
font-weight: 300;
font-style: normal;

Brandon Grotesque Light Italic
font-family: brandon-grotesque, sans-serif;
font-weight: 300;
font-style: italic;

Brandon Grotesque Medium
font-family: brandon-grotesque, sans-serif;
font-weight: 500;
font-style: normal;

Brandon Grotesque Medium Italic
font-family: brandon-grotesque, sans-serif;
font-weight: 500;
font-style: italic;

Brandon Grotesque Black
font-family: brandon-grotesque, sans-serif;
font-weight: 900;
font-style: normal;

Brandon Grotesque Black Italic
font-family: brandon-grotesque, sans-serif;
font-weight: 900;
font-style: italic;

**/
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: brandon-grotesque, sans-serif;
  color: #000;
  font-size: 21px;
}

.h1-wrap {
  text-align: center;
}

h1 {
  font-size: 2.19em;
  color: #231F20;
  padding-top: 43px;
  padding-bottom: 0px;
  border-bottom: 4px solid #00ABC8;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
}

h2 {
  font-size: 1.38em;
  font-weight: 700;
  border-top: 4px solid #F16268;
  display: inline-block;
  text-transform: uppercase;
  padding: 30px 0;
  color: #333;
}

h3 {
  font-size: 0.86em;
  font-weight: 900;
  color: #333;
  border-bottom: 2px solid #333;
  padding: 12px 0;
  display: inline-block;
  margin-bottom: 25px;
  text-transform: uppercase;
}

p {
  font-weight: 400;
  margin: 0 0 30px 0;
}

ul, ol {
  font-weight: 400;
}

p + ul, p + ol {
  margin-top: -30px;
}

strong {
  font-weight: 500;
}

header {
  background: #000;
  padding: 16px 0 8px;
  width: 100%;
  position: fixed;
  z-index: 80;
  /** end .nav **/
}
header .logo {
  display: block;
}
header .logo-img {
  width: 107px;
  height: 28px;
  background: url(img/swag-logo-m.svg) no-repeat 0 0;
  display: inline-block;
  text-indent: -1000px;
  overflow: hidden;
}
header #mobile-nav {
  position: absolute;
  right: 20px;
  top: 5px;
  width: 22px;
  height: 16px;
  cursor: pointer;
}
header .nav {
  padding-top: 60px;
  display: none;
  width: 100%;
}
header .nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  /*li:hover {
  	ul {
  		display:block;
  	}
  }*/
}
header .nav ul li {
  display: block;
  vertical-align: top;
  margin-right: 0px;
  margin-bottom: 25px;
}
header .nav ul li ul {
  padding-top: 16px;
  margin: 0;
  display: none;
}
header .nav ul li ul li {
  margin-bottom: 20px;
}
header .nav ul li ul li a {
  font-size: 1em;
  font-weight: 400;
  text-transform: none;
  padding: 2px 0;
  letter-spacing: 0;
}
header .nav ul li ul li.current-menu-item a {
  border-bottom: 4px solid #fff;
}
header .nav ul li ul li a:hover {
  text-decoration: none;
  border-bottom: 4px solid #fff;
}
header .nav ul li.current-menu-parent > a, header .nav ul li.current-menu-item a {
  border-bottom: 4px solid #F16268;
}
header .nav ul li.current-menu-item ul a {
  border-bottom: none;
}
header .nav ul li.current-menu-item#menu-item-164 a {
  border-bottom: none;
}
header .nav ul li.current-menu-parent .sub-menu {
  display: block;
}
header .nav a {
  font-weight: bold;
  font-size: 0.94em;
  color: #fff;
  text-transform: uppercase;
  padding: 4px 0;
  letter-spacing: 0.8px;
}
header .nav a:hover {
  text-decoration: none;
  border-bottom: 4px solid #F16268;
}
header .header-tools {
  display: none;
  margin-bottom: 100px;
}
header form.search {
  display: none;
}
header form.search input {
  vertical-align: top;
  font-size: 0.76em;
}
header form.search .search-submit {
  display: none;
}
header #search-icon, header #settings-icon {
  width: 25px;
  display: inline-block;
  vertical-align: top;
}
header #settings-icon {
  margin-left: 20px;
}

/** end header **/
main {
  padding-top: 50px;
  background: url(img/bkg-pattern.svg) no-repeat 0 170px;
  background-position-x: center;
  background-size: 2920px;
}

.limit, .limit960, .limit1024 {
  max-width: 100%;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  text-align: left;
}

.anchor-link {
  position: relative;
  top: -30px;
  visibility: hidden;
}

#accordion {
  margin-bottom: 70px;
}
#accordion h3 {
  display: block;
  background: url(img/icon-plus.svg) #C3E9F0 no-repeat 98% 19px;
  background-size: 15px;
  border-bottom: none;
  font-size: 1.05em;
  font-weight: 500;
  text-transform: none;
  padding: 12px 30px;
  margin-bottom: 0;
  margin-top: 15px;
  cursor: pointer;
}
#accordion h3.ui-state-active {
  background: url(img/icon-minus.svg) #C3E9F0 no-repeat 98% 26px;
  background-size: 15px;
}
#accordion .ui-accordion-content {
  border: 1px solid #C3E9F0;
  padding: 35px 30px;
}
#accordion .ui-accordion-content p {
  font-size: 0.86em;
}

.promo-box {
  margin: 45px 0px 60px;
  padding: 50px 20px 20px;
  background: #00ABC8;
  color: #fff;
  text-align: center;
}
.promo-box h3 {
  color: #fff;
  text-transform: none;
  padding: 0;
  border-bottom: none;
  font-weight: 500;
  font-size: 1.05em;
}
.promo-box p {
  font-size: 0.81em;
}
.promo-box p.button a {
  border: 1px solid #fff;
  color: #fff;
  font-size: 0.88em;
  padding: 6px 25px;
}
.promo-box p.button a:hover {
  color: #00ABC8 !important;
  background-color: #fff;
}

/** Homepage Styles **/
.home main {
  background: url(img/splash-masthead-bkg2.png) no-repeat;
  background-size: 3400px;
  background-position-x: center;
}
.home main h1 {
  font-size: 1.76em;
  font-weight: 700;
  margin: 70px 0 30px 0;
  color: #333;
  padding: 0;
  text-transform: none;
  border-bottom: none;
}

.home-icons {
  text-align: center;
  padding-top: 9px;
}
.home-icons .icon-toolkit {
  width: 103px;
  height: 84px;
  margin-bottom: 22px;
}
.home-icons .learn-more {
  background: url(img/learn-more-arrow.svg) no-repeat 50% 34px;
  background-size: auto 33px;
  padding-bottom: 55px;
  margin-top: 36px;
}

.homemap {
  background-color: #A9E4D8;
  padding: 70px 0 20px 0;
}

.map-image {
  text-align: center;
}

.homespacial {
  padding-top: 70px;
}

.graphs {
  text-align: center;
  padding-top: 10px;
}
.graphs .graph {
  width: 60px;
  display: block;
  margin: 0 auto 15px;
}
.graphs h4 {
  font-weight: 900;
  font-size: 0.7em;
  text-transform: uppercase;
  border-bottom: 2px solid #231F20;
  padding: 12px 0;
  color: #231F20;
  display: inline-block;
  margin-bottom: 25px;
}
.graphs .graph-caption {
  color: #E06B6C;
  font-size: 1.09em;
  font-weight: 500;
}

.photo-left {
  margin: 70px 0;
}
.photo-left img {
  margin: 0 0 20px 0;
}

.contact {
  background: #e0ece7;
  padding: 50px 0 30px 0;
  margin-top: 70px;
}
.contact .limit {
  text-align: center;
}
.contact img {
  width: 86px;
  margin-bottom: 25px;
}
.contact p {
  font-size: 0.86em;
}
.contact a {
  text-decoration: underline;
  color: #000;
}

/** end Homepage Styles **/
.button a {
  border: 1px solid #F16268;
  color: #F16268;
  font-weight: 900;
  text-decoration: none;
  font-size: 0.71em;
  text-transform: uppercase;
  padding: 6px 10px;
}

.button a:hover {
  background: #F16268;
  color: #fff !important;
}

.button.black a {
  border: 1px solid #000;
  color: #000;
}

.button.black a:hover {
  background: #000;
  color: #fff !important;
}

.button.blue a {
  border: 1px solid #69c8d8;
  color: #69c8d8;
}

.button.blue a:hover {
  background: #69c8d8;
  color: #fff !important;
}

/** Lesson Page Styles **/
.single #menu-item-25 a {
  border-bottom: 4px solid #F16268;
}
.single #menu-item-25 .sub-menu {
  display: block;
}
.single #menu-item-25 .sub-menu a {
  border-bottom: none;
}
.single #menu-item-25 .sub-menu #menu-item-21 a {
  border-bottom: 4px solid #fff;
}

.post {
  padding-top: 90px;
}
.post .lesson-tools {
  color: #5E5E5E;
}
.post .lesson-tools img {
  height: 13px;
}
.post .lesson-tools ul {
  text-align: right;
}
.post .lesson-tools li {
  font-size: 0.7em;
  text-transform: uppercase;
  list-style-type: none;
  display: inline-block;
  margin-left: 15px;
  cursor: pointer;
  padding: 5px;
}
.post .lesson-tools li a {
  color: #5e5e5e;
}
.post .lesson-tools li:hover {
  text-decoration: underline;
}
.post .lesson-tools i {
  height: 13px;
  width: 13px;
  display: inline-block;
  position: relative;
  top: 2px;
  padding: 5px 0;
  margin-right: 3px;
}
.post .lesson-tools .fave-on {
  background: url(img/icon-tools-fave-on.svg) no-repeat 0 0;
}
.post .lesson-tools .fave-off {
  background: url(img/icon-tools-fave-off.svg) no-repeat 0 0;
}
.post .lesson-tools .icon-share {
  background: url(img/icon-tools-share.svg) no-repeat 0 0;
}
.post .lesson-tools .icon-review {
  background: url(img/icon-tools-review.svg) no-repeat 0 0;
}
.post .theme {
  color: #69C9D9;
  font-size: 0.78em;
  font-weight: 400;
  text-transform: uppercase;
}
.post .theme strong {
  font-weight: 900;
}
.post h1 {
  font-size: 2.28em;
  font-weight: 500;
  margin: 50px 0 20px;
  padding: 0;
  border-bottom: none;
  text-transform: none;
}
.post p.author {
  font-size: 1em;
}
.post p, .post ul, .post ol {
  font-size: 0.86em;
  line-height: 1.4;
  margin-bottom: 50px;
}
.post .lesson-details {
  margin-bottom: 80px;
}
.post .lesson-details h3 {
  color: #00ABC8;
  border-bottom: 2px solid #00ABC8;
}
.post .lesson-details .included a {
  font-weight: 400;
  text-decoration: underline;
  color: #000;
  font-size: 0.88em;
}
.post .lesson-details .included a strong {
  font-weight: 500;
  font-size: 1.125em;
}
.post .lesson-details .button a {
  padding: 6px 20px;
  font-size: 0.83em;
}
.post .feedback {
  background-color: #FCE0E1;
  padding: 70px 0 120px;
}
.post .feedback .limit {
  padding-right: 20px;
}
.post .feedback p {
  margin-bottom: 30px;
  color: #231F20;
}
.post .feedback p.button a {
  font-size: 0.83em;
}
.post .feedback p.quote {
  font-size: 1.14em;
}
.post .feedback .col-sm-6 {
  padding-right: 100px;
}

/** end Lesson Page Styles **/
.included {
  padding: 0;
  list-style-type: none;
}
.included li.icon-pdf {
  background: url(img/icon-pdf.svg) no-repeat 4px 0;
  padding-left: 40px;
}
.included li.icon-slides {
  background: url(img/icon-slides.svg) no-repeat 0 0;
  padding-left: 40px;
  margin-top: 15px;
}

/** Toolkit Styles **/
.toolkit-body {
  background-color: #231F20;
  text-align: center;
}
.toolkit-body .toolkit-title {
  font-size: 2.19em;
  color: #fff;
  padding-top: 43px;
  padding-bottom: 0px;
  border-bottom: 4px solid #F16268;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
}
.toolkit-body h1 {
  text-transform: uppercase;
  display: inline-block;
  background-color: #fff;
  color: #000;
  font-size: 0.95em;
  font-weight: 900;
  padding: 9px 12px;
  margin: 25px 0 50px;
  border-bottom: 0;
}
.toolkit-body h2, .toolkit-body p {
  color: #fff;
}
.toolkit-body .toolkit-box {
  background-color: #1C1717;
  padding: 40px;
  text-align: center;
  margin-bottom: 55px;
}
.toolkit-body .toolkit-box h2 {
  font-size: 1.38em;
  color: #fff;
  text-transform: none;
  font-weight: 400;
  border-top: none;
  padding: 0 0 10px 0;
}
.toolkit-body .toolkit-box img {
  width: 155px;
  height: 120px;
}
.toolkit-body .toolkit-box .button a {
  display: block;
  margin: 20px auto;
}
.toolkit-body .toolkit-box .button.tk1 a {
  width: 155px;
}
.toolkit-body .toolkit-box .button.tk2 a {
  width: 184px;
}
.toolkit-body .toolkit-box .button.tk3 a {
  width: 168px;
}
.toolkit-body .toolkit-box .button.tk4 a {
  width: 189px;
}

p.smallp {
  font-size: 0.76em;
  padding: 0 20px;
}

.tour {
  background: #1C1717;
  padding: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lessons-anchors {
  font-size: 0.66em;
  font-weight: 400;
  color: #5E5E5E;
  text-align: left;
  margin: 0 0 45px 0;
  text-transform: uppercase;
}
.lessons-anchors strong {
  font-weight: 900;
  color: #F16268;
}
.lessons-anchors a {
  font-weight: 300;
  color: #5E5E5E;
}
.lessons-anchors a:hover {
  color: #F16268;
}

.category-container {
  text-align: left;
  margin-bottom: 70px;
  position: relative;
}
.category-container .lesson-arrow-right {
  top: 290px;
  bottom: 0;
  right: -28px;
  z-index: 10;
}
.category-container .lesson-arrow-left {
  top: 290px;
  bottom: 0;
  left: -35px;
  display: none;
}
.category-container .lesson-arrow-left, .category-container .lesson-arrow-right {
  position: absolute;
  z-index: 10;
}
.category-container .lesson-arrow-left img, .category-container .lesson-arrow-right img {
  width: 56px;
  height: 56px;
}
.category-container .lessons-container {
  display: grid;
  grid-template-columns: repeat(2, 100%);
  overflow: hidden;
  scroll-behavior: smooth;
}
.category-container .lessons-container section {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 220px);
  margin: 20px 0;
}

.lesson-tile {
  width: 204px;
  height: 264px;
  background: url(img/lesson-tile.svg) #fff no-repeat 0 0;
  font-size: 1.14em;
  font-weight: 500;
  padding: 75px 12px 15px 15px;
  transition: 250ms all;
  cursor: pointer;
  margin: 5px 0 15px;
  line-height: 1.3;
  text-align: left;
}
.lesson-tile:hover {
  transform: scale(1.05);
}
.lesson-tile.active-tile {
  transform: scale(1.05);
  padding: 71px 8px 11px 11px;
  border: 4px solid #FFB607;
}
.lesson-tile.cec {
  background: url(img/lesson-tile-cec.svg) #fff no-repeat 0 0;
}
.lesson-tile a {
  color: #000;
}

.cecs .lesson-tile {
  background: url(img/lesson-tile-cec.svg) #fff no-repeat 0 0;
}

.drawer {
  display: none;
  color: #fff;
  border-top: 1px solid #69C9D9;
  padding: 50px 0;
  margin: 25px 40px;
}
.drawer h3 {
  color: #fff;
  font-size: 1.23em;
  border-bottom: 0;
  text-transform: none;
  font-weight: 500;
}
.drawer h4 {
  color: #00ABC8;
  font-size: 0.57em;
  text-transform: uppercase;
  font-weight: 900;
}
.drawer p {
  font-size: 0.86em;
  margin-right: 20px;
  display: inline-block;
}
.drawer p.button a {
  color: #FFB607;
  border: 1px solid #FFB607;
  cursor: pointer;
}
.drawer p.button a:hover {
  color: #fff;
  background-color: #FFB607;
}
.drawer .details p, .drawer .details li {
  color: #00ABC8;
  font-size: 0.76em;
}

#cec-row {
  background-color: #333;
  background-position-x: center;
  background-size: 2920px;
  padding: 50px 0;
}
#cec-row .category-container .lessons-container section .lesson-tile {
  background: url(img/lesson-tile-cec.svg) #fff no-repeat 0 0;
}
#cec-row .lessons-anchors a {
  color: #aeaeae;
}
#cec-row .lessons-anchors a:hover {
  color: #F16268;
}

.related-lessons h2 {
  color: #fff;
}

.using-the-toolkit h2 {
  border-top: 4px solid #f6d449;
}
.using-the-toolkit .curriculum {
  margin-top: 90px;
}
.using-the-toolkit .curriculum h2 {
  margin-bottom: 45px;
}
.using-the-toolkit .curriculum .curriculum-circle {
  background: url(img/curriculum-circle.svg) no-repeat 0 0;
  height: 322px;
  width: 350px;
  margin: 0 auto 70px;
  padding: 50px 20px 20px 52px;
  position: relative;
  left: -16px;
}
.using-the-toolkit .curriculum .curriculum-circle p {
  font-size: 0.9em;
  font-weight: 500;
  text-align: center;
  color: #000;
  line-height: 1.3;
}
.using-the-toolkit .curriculum .curriculum-circle p.circle1 {
  margin-bottom: 53px;
}
.using-the-toolkit .curriculum .curriculum-box {
  color: #000;
  margin: 20px auto;
}
.using-the-toolkit .curriculum .curriculum-box h3 {
  display: block;
  text-align: center;
  border-bottom: 1px solid #000;
  padding: 35px 10px 10px;
  margin-bottom: 0;
}
.using-the-toolkit .curriculum .cb1 h3 {
  background: url(img/circle-header-black.svg) no-repeat 0 0;
  background-size: 100%;
}
.using-the-toolkit .curriculum .cb1 .button.black a {
  padding: 6px 25px;
}
.using-the-toolkit .curriculum .cb2 h3 {
  background: url(img/circle-header-yellow.svg) no-repeat 0 0;
  background-size: 100%;
}
.using-the-toolkit .curriculum .cb2 .button.black a {
  padding: 6px 15px;
}
.using-the-toolkit .curriculum .cb-body {
  padding: 30px;
  background: #F2F2F2;
  position: relative;
}
.using-the-toolkit .curriculum .cb-body p, .using-the-toolkit .curriculum .cb-body ul {
  font-size: 0.76em;
  color: #000;
}
.using-the-toolkit .curriculum .cb-body p em, .using-the-toolkit .curriculum .cb-body ul em {
  font-size: 1.25em;
  font-weight: 500;
}
.using-the-toolkit .curriculum .cb-body ul {
  padding-left: 20px;
}
.using-the-toolkit .curriculum .cb-body ul li {
  margin-bottom: 3px;
}
.using-the-toolkit .curriculum .cb-body .cec-example p {
  font-size: 0.66em;
  font-style: italic;
  padding-top: 25px;
  padding-left: 20px;
}
.using-the-toolkit .curriculum .cb-body .cec-example img {
  width: 162px;
}
.using-the-toolkit .curriculum .cb-body .button.black {
  text-align: center;
  margin: 60px auto 30px;
  font-size: 1em;
}
.using-the-toolkit .curriculum .note-language {
  margin: 70px 0 90px;
}
.using-the-toolkit .curriculum .note-language h3 {
  color: #fff;
  border-bottom: 2px solid #fff;
}
.using-the-toolkit .curriculum .note-language p {
  font-size: 0.86em;
}
.using-the-toolkit .curriculum .note-language p strong {
  color: #f6d449;
  font-weight: 500;
}
.using-the-toolkit .approach {
  background: #fff;
  padding-bottom: 140px;
}
.using-the-toolkit .approach h2, .using-the-toolkit .approach p {
  color: #000;
}
.using-the-toolkit .approach h2 {
  margin-top: 70px;
}
.using-the-toolkit .approach .approach-icons {
  margin: 0 auto;
}
.using-the-toolkit .approach .approach-icons .icon-overview-black {
  width: 111px;
  height: 78px;
  margin-bottom: 40px;
}
.using-the-toolkit .approach .approach-icons .icon-toolkit-black {
  width: 101px;
  height: 83px;
  margin-bottom: 35px;
}

.facilitating-lessons .top-resources {
  width: 100%;
  margin: 0 auto 80px;
  background: #1C1717;
  padding: 30px 50px;
}
.facilitating-lessons .top-resources h2 {
  font-size: 1.38em;
  border-top: none;
  text-transform: none;
  margin-bottom: 30px;
  padding: 0;
  font-weight: 400;
}
.facilitating-lessons .top-resources img {
  width: 168px;
  margin-bottom: 20px;
}
.facilitating-lessons .top-resources p {
  font-size: 0.81em;
  margin-bottom: 15px;
}
.facilitating-lessons .faqs {
  background: #fff;
  padding: 70px 0;
}
.facilitating-lessons .faqs h2 {
  border-top: 4px solid #AC3EA3;
  color: #000;
}
.facilitating-lessons .faqs #accordion h3 {
  background: url(img/icon-plus.svg) #F5E8F4 no-repeat 98% 19px;
  background-size: 15px;
  text-align: left;
}
.facilitating-lessons .faqs #accordion h3.ui-state-active {
  background: url(img/icon-minus.svg) #F5E8F4 no-repeat 98% 26px;
  background-size: 15px;
}
.facilitating-lessons .faqs #accordion .ui-accordion-content {
  border: 1px solid #F5E8F4;
}
.facilitating-lessons .faqs #accordion .ui-accordion-content p {
  color: #000;
  text-align: left;
  font-size: 1em;
}
.facilitating-lessons .faqs #accordion .ui-accordion-content p a {
  color: #ab3ea2;
}

.my-toolkit .top-box {
  width: 782px;
  margin: 0 auto 80px;
  background: #1C1717;
  padding: 30px 50px;
  color: #fff;
}
.my-toolkit .top-box img {
  width: 155px;
  height: 120px;
}
.my-toolkit .top-box a.logout {
  color: #fff;
  text-decoration: underline;
}
.my-toolkit h2 {
  border-top: 4px solid #00ABC8;
}
.my-toolkit .favorites-container {
  margin-bottom: 80px;
  position: relative;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(5, 220px);
}
.my-toolkit .favorites-container p {
  font-weight: 500;
}
.my-toolkit .review {
  background-color: #C3E9F0;
  padding: 75px 0;
  color: #000;
}
.my-toolkit .review h2 {
  color: #000;
}
.my-toolkit .review p {
  color: #000;
}
.my-toolkit .review p a {
  color: #000;
  text-decoration: underline;
}
.my-toolkit .review p.button a {
  text-decoration: none;
}
.my-toolkit .edit-profile {
  background-color: #ececec;
  padding: 75px 0;
  color: #000;
}
.my-toolkit .edit-profile h2, .my-toolkit .edit-profile p {
  color: #000;
}
.my-toolkit .edit-profile a {
  color: #000;
  text-decoration: underline;
}
.my-toolkit .edit-profile .um_field_container {
  margin: 10px 50px 10px 0;
  display: inline-block;
}
.my-toolkit .edit-profile .um_label_top {
  font-weight: 400;
  font-size: 0.86em;
}
.my-toolkit .edit-profile .um_input {
  width: 420px;
}
.my-toolkit .edit-profile .um_button {
  border: 1px solid #000;
  color: #000;
  font-weight: 900;
  text-decoration: none;
  font-size: 0.71em;
  text-transform: uppercase;
  padding: 6px 30px;
  background: none;
  letter-spacing: 1.2px;
}
.my-toolkit .edit-profile .delete-profile {
  font-size: 0.86em;
  margin-top: 20px;
}
.my-toolkit .edit-profile .delete-profile strong {
  font-weight: 900;
  letter-spacing: 1.3px;
}

/** end Toolkit Styles **/
/** Resources & Partners Styles **/
.resources-partners h1 {
  margin-bottom: 100px;
}
.resources-partners h2 {
  border-top: 4px solid #69C9D9;
}
.resources-partners a {
  color: #00ABC8;
}
.resources-partners #accordion h3 {
  background: url(img/icon-plus.svg) #C3E9F0 no-repeat 98% 19px;
  background-size: 15px;
}
.resources-partners #accordion h3.ui-state-active {
  background: url(img/icon-minus.svg) #C3E9F0 no-repeat 98% 26px;
  background-size: 15px;
}
.resources-partners #accordion .ui-accordion-content {
  border: 1px solid #C3E9F0;
  background-color: #fff;
}
.resources-partners .contact {
  background: #F2F2F2;
  color: #F16268;
}
.resources-partners .contact p {
  font-size: 1.14em;
}
.resources-partners .contact p strong {
  font-weight: 700;
}
.resources-partners .contact .button a {
  padding: 6px 15px;
  color: #F16268;
}
.resources-partners .partners {
  margin: 115px 0;
}

/** end Resources & Partners Styles **/
/** Form Styles **/
.wpforms-container {
  margin: 30px auto 50px;
}

.login-message {
  margin: 40px 0 100px;
  text-align: center;
}

.wpforms-submit-container button {
  border: 1px solid #69c8d8;
  background-color: #69c8d8;
  color: #fff;
}
.wpforms-submit-container button:hover {
  background-color: #fff;
  color: #69c8d8;
}

.account {
  background-color: #231F20;
  color: #fff;
}
.account h1 {
  color: #fff;
  font-size: 1.38em;
  font-weight: 700;
  border-top: 4px solid #00ABC8;
  display: inline-block;
  text-transform: uppercase;
  padding: 30px 0;
  border-bottom: 0;
  margin-top: 40px;
}

.message-window {
  background: #e0ece7;
  padding: 50px 0 30px 0;
  margin-top: 70px;
}
.message-window .limit {
  text-align: center;
}
.message-window p {
  color: #000;
}
.message-window a {
  color: #000;
  text-decoration: underline;
}

/** end Form Styles **/
footer {
  background: url(img/bkg-pattern.svg) #231F20 no-repeat 0 0;
  padding: 75px 0 90px 0;
  background-size: 2920px;
  background-position-x: center;
}
footer .copyright {
  color: #fff;
  font-size: 0.6em;
  font-weight: 400;
}
footer .copyright img {
  width: 295px;
  position: relative;
  left: -18px;
  margin-bottom: 50px;
}
footer .copyright a {
  color: #fff;
  text-decoration: none;
}
footer .copyright a:hover {
  text-decoration: underline;
}

.center {
  text-align: center;
}

.open-walkthrough {
  border: 0;
  height: 484px;
  width: 280px;
}

.walkthrough {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
  background: #fff;
  border-radius: 0;
  display: none;
  flex-direction: column;
  flex: 0 0 auto;
  height: 464px;
  overflow: hidden;
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 280px;
  z-index: 50;
}
.walkthrough.show {
  display: flex;
  opacity: 0;
  transform: translateY(72px);
}
.walkthrough.reveal {
  opacity: 1;
  transform: translateY(0);
}
.walkthrough .walkthrough-body {
  align-items: center;
  display: flex;
  flex: 1;
  text-align: center;
}
.walkthrough .walkthrough-body .prev-screen,
.walkthrough .walkthrough-body .next-screen {
  align-self: stretch;
  background: none;
  border: 0;
  margin-top: 40px;
  color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 24px;
  opacity: 1;
  outline: none;
  padding: 16px;
  transform: scale(1);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: 1000;
}
.walkthrough .walkthrough-body .prev-screen:hover, .walkthrough .walkthrough-body .prev-screen:active,
.walkthrough .walkthrough-body .next-screen:hover,
.walkthrough .walkthrough-body .next-screen:active {
  color: black;
  transform-origin: center;
  transform: scale(1.25);
}
.walkthrough .walkthrough-body .prev-screen:disabled,
.walkthrough .walkthrough-body .next-screen:disabled {
  opacity: 0;
}
.walkthrough .walkthrough-body .prev-screen {
  order: 1;
}
.walkthrough .walkthrough-body .next-screen {
  order: 3;
}
.walkthrough .walkthrough-body .screens {
  flex: 1;
  align-self: stretch;
  position: relative;
  margin: 0 -16px;
  padding: 0;
  order: 2;
}
.walkthrough .walkthrough-body .screens .screen {
  position: absolute;
  list-style-type: none;
}
.walkthrough .walkthrough-body .media {
  background: #e8e8e8;
  border-radius: 132px;
  height: 180px;
  margin: 20px auto;
  width: 180px;
}
.walkthrough .walkthrough-body h3 {
  font-size: 0.74em;
  line-height: 1.4em;
  text-transform: uppercase;
  font-weight: 900;
  border-bottom: none;
  padding: 0;
  margin: 0px;
}
.walkthrough .walkthrough-body p {
  line-height: 1.3em;
  font-size: 0.74em;
  margin-top: 3px;
  padding-top: 0;
  color: #000;
}
.walkthrough .walkthrough-pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.walkthrough .walkthrough-pagination .dot {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  height: 8px;
  margin: 0 4px;
  transform: scale(0.75);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 8px;
}
.walkthrough .walkthrough-pagination .dot.active {
  background: #F16268;
  transform: scale(1);
  transition-delay: 0.4s;
}
.walkthrough .walkthrough-footer {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  padding: 0;
}
.walkthrough .walkthrough-footer button {
  height: 40px;
  border: 0;
  background: #f7d549;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border-radius: 0;
  color: #000;
  flex: 1;
  font-size: 0.74em;
  font-weight: 900;
  margin: 0;
  outline: 0;
  padding: 0;
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
}
.walkthrough .walkthrough-footer button:disabled {
  cursor: pointer;
}
.walkthrough .walkthrough-footer button.finish {
  background: #f7d549;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  transform: scale(0, 1);
  transform-origin: center;
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.walkthrough .walkthrough-footer button.finish.active {
  transform: scale(1, 1);
  opacity: 1;
}
.walkthrough .walkthrough-footer button.finish.toolkit {
  bottom: 44px;
}
.walkthrough .screens {
  margin: 0;
}
.walkthrough .screens .media .status-badge {
  left: 136px;
  opacity: 0;
  position: absolute;
  top: 104px;
  transform: scale(0);
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-delay: 0.6s;
}
.walkthrough .screens .media .status-badge i {
  display: inline;
}
.walkthrough .screens .media.logo .logo {
  margin: 0;
  opacity: 0;
  transform: translateY(-60px);
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 180px;
}
.walkthrough .screens .media.logo .logo.slides {
  margin-top: 20px;
}
.walkthrough .screens .media .icon {
  position: absolute;
  opacity: 0;
  transform: translateY(-30px);
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 132px;
  left: 48px;
  top: 32px;
}
.walkthrough .screens .media.bars .icon {
  transform: translate(40px, 20px);
}
.walkthrough .screens .media.bars .icon:nth-of-type(2) {
  transform: scale(0.25);
  transform-origin: 30% 54%;
}
.walkthrough .screens .media.bars .icon:nth-of-type(3) {
  transform: scale(0.25);
  transform-origin: 30% 40%;
}
.walkthrough .screens .media.bars .icon:nth-of-type(4) {
  transform: scale(0.25);
  transform-origin: 30% 26%;
}
.walkthrough .screens .media.files .icon {
  transform: translate(40px, 20px);
}
.walkthrough .screens .media.comm .icon {
  transform: scale(0.25);
  transform-origin: 29% 73%;
}
.walkthrough .screens .media.comm .icon:nth-child(2) {
  transform-origin: 66% 85%;
}
.walkthrough .screens .screen {
  opacity: 0;
  position: absolute;
  transform: translateX(-72px);
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.walkthrough .screens .screen.active {
  opacity: 1;
  transform: translateX(0) scale(1);
  transition-delay: 0.4s;
}
.walkthrough .screens .screen.active ~ .screen {
  opacity: 0;
  transform: translateX(72px);
}
.walkthrough .screens .screen.active .media .status-badge {
  opacity: 1;
  transform: scale(1.75);
}
.walkthrough .screens .screen.active .media.logo .logo {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.6s;
}
.walkthrough .screens .screen.active .media.logo .status-badge {
  transition-delay: 1s;
}

/*------------------------------------------------*\

	Small devices (landscape phones, 500px and up)

\*------------------------------------------------*/
@media (min-width: 500px) {
  .using-the-toolkit .curriculum .curriculum-box {
    color: #f00;
    width: 450px;
  }
  .using-the-toolkit .curriculum .curriculum-box h3 {
    padding: 55px 10px 10px;
  }
}
/*------------------------------------------------*\

	Medium devices (tablets, 768px and up)

\*------------------------------------------------*/
@media (min-width: 768px) {
  main {
    padding-top: 170px;
  }

  header {
    padding: 16px 0;
  }
  header .limit {
    height: auto;
  }
  header .logo {
    padding-bottom: 10px;
    display: block;
  }
  header .logo-img {
    width: 362px;
    height: 28px;
    background: url(img/swag-logo.svg) no-repeat 0 0;
    margin-top: 4px;
  }
  header #mobile-nav {
    display: none;
  }
  header .nav {
    padding-bottom: 2.7em;
    padding-top: 0;
    display: inline-block;
    min-width: 690px;
    width: auto;
  }
  header .nav ul li {
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;
    margin-bottom: 0;
  }
  header .nav ul li ul {
    position: absolute;
    z-index: 99;
    padding-top: 16px;
    margin: 0;
    display: none;
  }
  header .nav ul li ul li {
    font-size: 0.86em;
    margin-right: 60px;
  }
  header .nav a {
    font-size: 0.71em;
  }
  header .header-tools {
    position: absolute;
    right: 20px;
    display: inline-block;
    margin-bottom: 0;
  }

  .anchor-link {
    top: -180px;
  }

  .home main {
    background: url(img/splash-masthead-bkg2.png) no-repeat;
    background-size: 2920px 1180px;
    background-position-x: center;
  }

  .graphs {
    padding-left: 45px !important;
  }

  .photo-left {
    margin: 70px 0 100px;
  }
  .photo-left img {
    margin: 0 50px 0 0;
  }

  .promo-box {
    margin: 45px 110px 60px;
  }

  .using-the-toolkit .curriculum .curriculum-circle {
    height: 368px;
    width: 400px;
    margin: 0 auto 70px;
    padding: 85px 20px 20px 52px;
    position: relative;
    left: -16px;
  }

  .post .lesson-details .leftcol {
    padding-right: 65px;
  }
  .post .lesson-details .rightcol {
    padding-left: 65px;
  }

  .wpforms-container {
    width: 600px;
  }

  .using-the-toolkit .approach .approach-icons {
    width: 450px;
  }
}
@media (min-width: 992px) {
  .limit960 {
    max-width: 960px;
    margin: auto;
    text-align: left;
  }
}
/*------------------------------------------------*\

	Large devices (desktops, 992px and up)

\*------------------------------------------------*/
@media (min-width: 992px) {
  .facilitating-lessons .top-resources {
    width: 782px;
  }

  .post .limit {
    padding-right: 180px;
  }

  .using-the-toolkit .curriculum .curriculum-box h3 {
    display: block;
    text-align: center;
    border-bottom: 1px solid #000;
    height: 98px;
    padding: 55px 10px 10px;
    margin-bottom: 0;
  }
  .using-the-toolkit .curriculum .cb1 {
    margin-right: 12px;
  }
  .using-the-toolkit .curriculum .cb2 {
    margin-left: 12px;
  }
  .using-the-toolkit .curriculum .cb-body {
    height: 712px;
  }
  .using-the-toolkit .curriculum .cb-body .button.black {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 390px;
    margin: 0 0 60px 0;
  }

  .category-container {
    width: 950px;
  }
  .category-container .lesson-arrow-right {
    top: 260px;
    bottom: 0;
    right: -28px;
    z-index: 10;
  }
  .category-container .lesson-arrow-left {
    top: 260px;
    bottom: 0;
    left: -35px;
    display: none;
  }
  .category-container .lesson-arrow-left, .category-container .lesson-arrow-right {
    position: absolute;
    z-index: 10;
  }
  .category-container .lessons-container {
    display: grid;
    grid-template-columns: repeat(2, 100%);
    overflow: hidden;
    scroll-behavior: smooth;
  }
  .category-container .lessons-container section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 190px);
    margin: 20px 0;
  }

  .lesson-tile {
    width: 180px;
    height: 233px;
    font-size: 1em;
    padding: 75px 12px 15px 15px;
    margin: 5px 0 15px;
  }
}
/*------------------------------------------------*\

Limits

\*------------------------------------------------*/
@media (min-width: 1024px) {
  .limit1024 {
    max-width: 1024px;
    margin: auto;
    text-align: left;
  }
}
@media (min-width: 1140px) {
  .limit {
    max-width: 1140px;
    margin: auto;
    text-align: left;
  }

  .category-container {
    width: auto;
  }
  .category-container .lesson-arrow-right {
    top: 290px;
    bottom: 0;
    right: -28px;
    z-index: 10;
  }
  .category-container .lesson-arrow-left {
    top: 290px;
    bottom: 0;
    left: -35px;
    display: none;
  }
  .category-container .lesson-arrow-left, .category-container .lesson-arrow-right {
    position: absolute;
    z-index: 10;
  }
  .category-container .lessons-container {
    display: grid;
    grid-template-columns: repeat(2, 100%);
    overflow: hidden;
    scroll-behavior: smooth;
  }
  .category-container .lessons-container section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 220px);
    margin: 20px 0;
  }

  .lesson-tile {
    width: 204px;
    height: 264px;
    font-size: 1.14em;
    padding: 75px 12px 15px 15px;
    margin: 5px 0 15px;
  }
}
/*------------------------------------------------*\

Extra large devices (large desktops, 1200px and up)

\*------------------------------------------------*/

/*# sourceMappingURL=custom.css.map */
